html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  background-color: #F3F3F3;
  background-image: url('/static/img/blob-scene-haikei.svg');
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,741,361)'%3E%3Cstop offset='0' stop-color='%23F3F3F3'/%3E%3Cstop offset='1' stop-color='%238590CE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='579' height='482.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

img {
  transition: .6s ease;
}

h6 {
  font-size: 1.1rem !important; /* slightly bigger than labels/p*/
}

/* Vertical range */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    height: 175px;
    padding: 0 15px;
    margin: 5px 0;
}

.lead .small{
  font-size: 18px;
}

.form-container {
  max-width: 345px;
  width: 100%;
  /*margin: 30px auto 0;*/
}

.icon-close{
  margin-left: 1rem;
}

.icon-close:hover {
  color: indianred;
  cursor: pointer;
  transition: 0.5s;
}

.input-group {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
}

.input-group > .form-control{
  padding: 1rem 1.5rem;
}

.overlay-container{
  position: relative;
}

.overlay-container:hover{
  cursor: pointer;
}

.overlay-container:hover .overlay{
  opacity: 1;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 2vh;
}

.overlay-hidden{
  opacity: 0;
}

.darken {
  background:rgba(0,0,0,0.7);
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-image{
  max-width: 100%;
  max-height: 100%;

}

.modal-content {
  background-color: rgba(240,245,250,.95)
}

.create-modal {
  max-width: 85%;
  max-height: 70%;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.progress {
  transition: fade 4s;
}

.btn-img-layer{
  border-radius: 5px;
  border-width: 5px;
}

.clickable-label{
  cursor: pointer;
  text-align: center;
}

.clickable-label:hover{
  background-color: rgba(55, 141, 252, 0.2);
  color: black;
  transition: 0.4s;
}

.layer-selected{
  border: solid rgba(55, 141, 252, 1);
  border-width: 3px;
  transition: 0ms;
}
.google-signin{
  border: 4px solid transparent;
  background-color: white;
}
.google-signin:hover{
  cursor: pointer;
  border: 4px solid #9bc6fe;
}

.btn-main{
  max-width: 200px !important;
  min-width: 90px;
}

.tag-box{
  min-height: 4rem;
  
}

.big-icon{
  font-size: 6rem;
}

.navcard-parent{
  min-width: 18rem;
}

.navcard{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}

.navcard:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.video-card{
  transition: all 1s ease-in-out;
}

.animate-delete{
  opacity: 0;
}

.del-font:hover{
  cursor:pointer;
}

.bi-trash::before {
  transform: translateY(1px);
}

.animate-in{
  transition: 0.5s;
}

.fx-preview{
  opacity: 0.7;
}

.drop-area{
  border:2px rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity)) dashed !important;
  /* background-color: rgba(255, 255, 255, 0) !important; */
  color: var(--bs-secondary-rgb)
}

.drop-area:hover{
  cursor: default;
}

.overlay-image{
  border-radius: 0px;
}

.vertical-scrollable>.row{
  position: absolute;
  overflow-y: scroll;
  padding:0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.color-picker{
  height: 100%;
  width: 100%;
}

::-moz-color-swatch {
    border-color: transparent;
}

.tier-badge{
  position: absolute;
  width: 15px;
  padding: 5px 2px 0 0;
  right: 0;
  top: 0;
}


#alert-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* high z-index to ensure the alerts appear on top */
  width: auto;
  margin-top: 5%;
}

.form-range::-webkit-slider-runnable-track {
  background: lightgray !important;
}

.form-range::-moz-range-track {
  background: lightgray !important;
}

.form-range::-ms-track {
  background: lightgray !important;
}

/*  Loading icon */
.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin: 8px;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link.base-nav.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

