{% extends "layout.html"%}
{% set active_page = "pricing" %}
{% block content %}
<script>
  const plus_monthly_whole = '{{prices["plus"]["monthly"][0]}}';
  const plus_monthly_fraction = '{{prices["plus"]["monthly"][1]}}';
  const unlim_monthly_whole = '{{prices["unlimited"]["monthly"][0]}}';
  const unlim_monthly_fraction = '{{prices["unlimited"]["monthly"][1]}}';
  const plus_annually_whole = '{{prices["plus"]["annually"][0]}}';
  const plus_annually_fraction = '{{prices["plus"]["annually"][1]}}';
  const unlim_annually_whole = '{{prices["unlimited"]["annually"][0]}}';
  const unlim_annually_fraction = '{{prices["unlimited"]["annually"][1]}}';
  const currency = "$"; // define using jinja
  let plus_lookup_key='{{PLUS_LOOKUP_KEY}}'
  let unlim_lookup_key='{{UNLIM_LOOKUP_KEY}}'

  $(document).ready(function () {
    $('#plus_price_whole').text(currency + plus_monthly_whole);
    $('#plus_price_fraction').text('.' + plus_monthly_fraction);
    $('#unlim_price_whole').text(currency + unlim_monthly_whole);
    $('#unlim_price_fraction').text('.' + unlim_monthly_fraction);
    $('#plus_lookup_key').val(plus_lookup_key + '-monthly');
    $('#unlim_lookup_key').val(unlim_lookup_key + '-monthly');

    $('#chk_billing_plan').change(function () {
      if (this.checked) {
        // annual
        $('#plus_price_whole').text(currency + plus_annually_whole);
        $('#plus_price_fraction').text('.' + plus_annually_fraction);
        $('#unlim_price_whole').text(currency + unlim_annually_whole);
        $('#unlim_price_fraction').text('.' + unlim_annually_fraction);
        $('#plus_bill_frequency').text('per year');
        $('#unlim_bill_frequency').text('per year');
        $('#plus_lookup_key').val(plus_lookup_key + '-yearly');
        $('#unlim_lookup_key').val(unlim_lookup_key + '-yearly');
        // set price lookup key
      } else {
        // monthly
        $('#plus_price_whole').text(currency + plus_monthly_whole);
        $('#plus_price_fraction').text('.' + plus_monthly_fraction);
        $('#unlim_price_whole').text(currency + unlim_monthly_whole);
        $('#unlim_price_fraction').text('.' + unlim_monthly_fraction);
        $('#plus_bill_frequency').text('per month');
        $('#unlim_bill_frequency').text('per month');
        $('#plus_lookup_key').val(plus_lookup_key + '-monthly');
        $('#unlim_lookup_key').val(unlim_lookup_key + '-monthly');
        // set price lookup key
      }
    });
  });
</script>
<div class="my-3 mx-auto" style="width:80%; border-radius: 10px;">
  <div class="container">
    <h1 class="text-center mb-0">Plans for Any Producer</h1>
    <p class="lead small text-center my-3" style="">Upgrade anytime. Each plan comes with a 7 day free trial.</p>
    <hr class="w-25 mx-auto">
    <div class="row mb-3 text-center">
      <div class="col text-end">
        <span class="align-middle">Monthly</span>
      </div>
      <div class="col-auto">
        <div class="form-check form-switch">
          <input class="float-none form-check-input" type="checkbox" id="chk_billing_plan">
        </div>
      </div>
      <div class="col text-start">
        <span class="align-middle">Annually  <span style="font-size:small;" class="mx-2 align-middle badge rounded-pill bg-success fw-light">2 months free!</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 align-self-center mb-3">
        <div class="card border-0 shadow mx-auto">
          <div class="card-header">
            <h4 class="mb-0">Free</h4>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{tiers['free']['monthly_vid_limit']}} Videos per month</li>
              <li class="list-group-item">{{tiers['free']['asset_limit']}} Custom Asset</li>
              <li class="list-group-item">{{tiers['free']['preset_limit']}} Preset or Template</li>
              <li class="list-group-item">{{tiers['free']['max_res']}}p resolution</li>
              <li class="list-group-item">Videos stored for {{tiers['free']['storage_hours']}} hours</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            {% if user.tier == "free" %}
            <a href="" class="btn btn-outline-primary disabled">Current plan</a> 
            {% else %}
            <a href="/create-portal-session" class="btn btn-outline-primary px-3 py-2">Downgrade <i class="bi bi-arrow-up-right"></i></a> 
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-self-center mb-3">
        <div class="card border-0 shadow mx-auto grow">
          <div class="card-header">
            <h4 class="mb-0">Plus  <span style="font-size:small; float:right;" class="align-middle badge rounded-pill bg-primary fw-light">Most popular</span></h4>
          </div>
          <div class="card-body">
            <div class="row align-items-baseline">
              <div class="col text-end text-primary">
                <span id="plus_price_whole" style="font-size:xxx-large;"></span><span id="plus_price_fraction" style="font-size:xx-large;"></span>
              </div>
              <div class="col">
                <span id="plus_bill_frequency">per month</span>
              </div>
            </div>
            <hr class="mx-auto w-25">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span style="font-size: 20px" class="text-primary">{{tiers['plus']['monthly_vid_limit']}}</span> Videos per month</li>
              <li class="list-group-item"><span style="font-size: 20px" class="text-primary">{{tiers['plus']['asset_limit']}}</span> Custom Assets</li>
              <li class="list-group-item"><span style="font-size: 20px" class="text-primary">{{tiers['plus']['preset_limit']}}</span> Presets or Templates</li>
              <li class="list-group-item"><span style="font-size: 20px" class="text-primary">{{tiers['plus']['max_res']}}</span>p resolution</li>
              <li class="list-group-item">Videos stored for <span style="font-size: 20px" class="text-primary">{{tiers['plus']['storage_hours']}}</span> hours</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            {% if user.tier == "plus" %}
            <a href="" class="btn btn-outline-primary disabled">Current plan</a> 
            {% else %}
            <form action="/create-checkout-session" method="POST">
              <input id="plus_lookup_key" type="hidden" name="lookup_key" value="{{PLUS_LOOKUP_KEY}}" />
              {% if user.has_trialed %}
              <button type="submit" class="btn btn-primary px-3 py-2">Subscribe  <i class="bi bi-arrow-up-right"></i></button> 
              {% else %}
              <button type="submit" class="btn btn-primary px-3 py-2">Start trial  <i class="bi bi-arrow-up-right"></i></button> 
              {% endif %}
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-self-center mb-3">
        <div class="card border-0 shadow grow">
          <div class="card-header">
            <h4 class="mb-0">Unlimited</h4>
          </div>
          <div class="card-body">
            <div class="row align-items-baseline">
              <div class="col text-end text-primary">
                <span id="unlim_price_whole" style="font-size:xxx-large;"></span><span id="unlim_price_fraction" style="font-size:xx-large;"></span>
              </div>
              <div class="col">
                <span id="unlim_bill_frequency">per month</span>
              </div>
            </div>
            <hr class="mx-auto w-25">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span style="font-size: 24px" class="text-primary"><i class="bi bi-infinity"></i> </span>  Videos per month</li>
              <li class="list-group-item"><span style="font-size: 24px" class="text-primary"><i class="bi bi-infinity"></i> </span>  Custom Assets</li>
              <li class="list-group-item"><span style="font-size: 24px" class="text-primary"><i class="bi bi-infinity"></i> </span>  Presets or Templates</li>
              <li class="list-group-item"><span style="font-size: 24px" class="text-primary">{{tiers['unlimited']['max_res']}}</span>p resolution</li>
              <li class="list-group-item">Videos stored for <span style="font-size: 24px" class="text-primary">{{tiers['unlimited']['storage_hours']}}</span> hours</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            {% if user.tier == "unlimited" %}
            <a href="" class="btn btn-outline-primary disabled">Current plan</a> 
            {% else %}
            <form action="/create-checkout-session" method="POST">
              <input id="unlim_lookup_key" type="hidden" name="lookup_key" value="{{UNLIM_LOOKUP_KEY}}" />
              {% if user.has_trialed %}
              <button type="submit" class="btn btn-primary px-3 py-2">Subscribe  <i class="bi bi-arrow-up-right"></i></button> 
              {% else %}
              <button type="submit" class="btn btn-primary px-3 py-2">Start trial  <i class="bi bi-arrow-up-right"></i></button> 
              {% endif %}
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-wrap align-items-center">
    <div class="col-6 mt-2 text-center">
      <div style="display:inline-block;" class="">
        <img width=200px src="{{url_for('static', filename='img/LARGE-punchline-inline-dark.png') }}" alt="" class="float-right">
      </div>
    </div>
    <div class="col-6 mt-2 text-center">
      <img width=250px class="mx-auto float-left" src="{{url_for('static', filename='img/developed-with-youtube-sentence-case-dark.png')}}" alt="">
    </div>
  </div>
</div>
{% endblock %}
